<style>
* {
  box-sizing: border-box;
}

@media (min-width: 650px){
    #logo{
      float:left;
      height:140px;
      padding-left: 15px;
      padding-right: 15px;
      display:inline-block;
    }

    ul.topnav li {float: left;}

    .header{
      background-color:rgb(0,85,165);
      padding-top:15px;
      padding-bottom:15px;
      height:140px;
    }
}
@media (max-width: 650px){
    #logo{
        padding: 15px;
    }
    
    ul.topnav li.right, 
    ul.topnav li {float: none;}

    .header{
        background-color:rgb(0,85,165);
        text-align:center;
        padding-top:15px;
        padding-bottom:15px;
        height:auto;
    }
}

ul.topnav {
  border-top: 2px solid #0000b5;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0055A5;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover {
  background-color: #FFF; 
  color:#0055A5; 
  font-weight:bold;
}

.bodyFill{
    margin:0;
    width:100%;
}

.main {
  float: left;
}

.left {
  float: left;
  width: 20%;
  margin-top: 5px;
  background-color: #e5e5e5;
  padding: 5px;
  text-align: center;
}

h1{
  color:white;
  padding: 0px;
  margin: 0px;
}

h2{
  padding: 5px;
  margin: 0px;
}

p{
  padding-left: 7px;
}

table{
  margin-top: 5px; 
  margin-bottom: 5px;
  margin-left: 5px; 
  border-collapse: collapse; 
  height: 112px; 
  background-color: #ecf0f1; 
  border-color: #000000; 
  border-style: double; 
}

@media only screen and (max-width: 1120px) {
  /* For mobile phones: */
  .left, .main, .mainA, .right {
    width: 100%;
  }
  table{
    margin-left: 0px; 
    width: 100%;
  }
}
</style>








